<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="side-bar">
        <div class="row">
          <div class="col-sm-2">
            <ul class="bar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/products">All products</a></li>
              <li><a href="/categories">Categories</a></li>
              <hr />
              <li><a href="/product/create">Create product</a></li>
              <li><a href="/category/create">Create category</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="right-side">
        <h1>Welcome to <%= title %></h1>
        <h2><%= category.name %></h2>
        <% if(productCategory.length){%>
            <% productCategory.forEach((product) => { %>
                <li><a href="/product/<%= product._id%>"> <%= product.name %></a></li>
                <p> <%= product.summary %></a></p>
            <% }) %>
        <% }%>
      </div>
    </div>
  </body>
</html>
