<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="side-bar">
        <div class="row">
          <div class="col-sm-2">
            <ul class="bar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/market/products">All products</a></li>
              <li><a href="/market/categories">Categories</a></li>
              <hr />
              <li><a href="/market/product/create">Create product</a></li>
              <li><a href="/market/category/create">Create category</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="right-side">
        <h1><%= title %></h1>
        <% if(title === "update"){%>
        <form action="/market/product/<%= product._id%>/<%= title %>" method="post">
          <label for="name">Product name:</label>
          <input type="text" name="name" value="<%= product.name%>" required />
          <label for="summary">Product summary:</label>
          <input type="text" name="summary" value="<%= product.summary %>" required />
          <label for="price">Product price:</label>
          <input type="number" name="price" value="<%= product.price%>" required />
          <% category.forEach((item) => { %> 
            <%if(item.checked){%>
              <label for="category"><%=item.name %></label>
              <input type="checkbox" name="category" value="<%= item._id %>" checked/>
            <% }else{ %>
              <label for="category"><%=item.name %></label>
              <input type="checkbox" name="category" value="<%= item._id %>"/>
            <% }%>    
          <% }) %>
          <button type="submit">Submit</button>
        </form>
        <% }else{%>
          <form action="/market/product/<%= title %>" method="post">
            <label for="name">Product name:</label>
            <input type="text" name="name" required />
            <label for="summary">Product summary:</label>
            <input type="text" name="summary" required />
            <label for="price">Product price:</label>
            <input type="number" name="price" required />
            <% category.forEach((item) => { %> 
              <%if(item.checked){%>
                <label for="category"><%=item.name %></label>
                <input type="checkbox" id="<%= item._id %>" name="category" value="<%= item._id %>" checked/>
              <% }else{ %>
                <label for="category"><%=item.name %></label>
                <input type="checkbox" id="<%= item._id %>" name="category" value="<%= item._id %>"/>
              <% }%>    
            <% }) %>
            <button type="submit">Submit</button>
          </form>
          <%}%>
      </div>
    </div>
  </body>
</html>
